@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Animal Shelter</h1>
    <p>Learn about our animals.</p>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Donate to us</h5>
            <p class="card-text">Please donate some money so we can get a lot of toys and food. see options here</p>
            <a asp-page="/Payment" class="btn btn-primary">Donate here!</a>
        </div>
    </div>
</div>